* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #f0f1f1;
    display: grid;
    align-items: center;
}
.lineInput {
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    display: grid;
    width: 350px;
    margin: auto;
    font-weight: bold;
}
.lineInput input {
    height: 30px;
}
button {
    font-weight: bold;
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    background-color: rgb(111, 111, 247);
}
button:hover {
    background-color: rgb(73, 73, 243);
    cursor: pointer;
}
.list {
    margin-top: 50px;
    align-items: center;
}
.list ul {
    text-align: center;
    background-color: rgb(141, 141, 252);
    width: 350px;
    height: 400px;
    margin: auto;
}

.list ul li {
    margin: auto;
    list-style: none;
    font-size: 18px;
    border: 1px solid white;
    width: 90%;
}

img {
    margin-top: 3px;
    width: 20px;
}
img:hover {
    cursor: pointer;
}